.banner{
    display:flex;
    align-items: center;
    margin-top:50px;

    &-heading{
    font-size:55px;
    line-height: 1.4;
    }

    &-heading span {
    display: block;
    }

   &-info {
        width: 35%;
    }

    &-image {
        width: 65%;
        transform: translateX(50px);
    }

    p{
    margin: 40px 0 60px 0 ;
    line-height: 1.5;
    color: gray;
    }

    &-links {
    .button:first-child {
    margin-right: 40px;
    padding-left: 25px;
    padding-right: 25px;
    }
    }

    @media screen and (max-width: 1279.98px) {
    &-heading{
        font-size: 40px;
        margin-bottom: 30px;
    }
    &-desc{
        .banner p {
            margin: 3px 0 45px 0;
        }    }
    &-links {
        .button{
            padding: 15px 20px;
        }
        .button:first-child {
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 15px;
        }
        }
    }
    
    @media screen and (max-width: 1023.98px) {
    padding-top: 30px;
    flex-direction: column;
    text-align: center;
    &-heading{
        margin-bottom: 0px;
    }
    &-desc{
        margin: 0;
    }
    & > * {
        width: 100%;
    }
    &-image {
        transform: none;
        margin-top: 20px;
    }
    }

    @media screen and (max-width: 767.98px) {
    &-heading{
        font-size: 30px;
        span{
            display: unset;
        }
    }
    }
    
    
}


